.contenedor_registro {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
  background-color: #1c1f28;
}
.logo {
  margin: 20px;
}
.titulo {
  margin: 20px;
  color: #47c7ee;
}

.sub_titulo_registro {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  color: #fff;
}

.formulario_login {
  width: 100%;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.input_group {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input_group label {
  width: 100%;
  max-width: 220px;
  text-align: left;
  margin-bottom: 5px;
  font-size: 14px;
  color: #fff;
}

.input_group input {
  width: 100%;
  max-width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  background-color: white;
}

.input_group input:focus {
  border-color: #007bff;
  outline: none;
}

.login_button {
  width: 100%;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
}

.login_button:hover {
  background-color: #0056b3;
}
.contenedor_login_Google {
  margin: 20px;
}
